<div class="container">
  <h1>{{ vm.name }}</h1>
  <h2>{{vm.catName}}</h2>
  <div class="form-inline">
    <button ng-click="vm.getJobList()" class="btn btn-primary">Log jobs</button>
    <input type="text" class="form-control" placeholder="Enter search" ng-disabled="vm.jobList.length === 0"
           ng-model="vm.filterJob">
  </div>
  <section class="container">
    <ul>
      <li ng-repeat="job in vm.jobList | filter:vm.filterJob as results">
        <article id="{{job.id}}" aria-label="{{job.title}}" role="region">
          <header>
            <div>
              <h2>{{job.title}}</h2>
            </div>
          </header>
          <section>
            <p ng-bind-html="job.description"></p>
          </section>
        </article>
      </li>
    </ul>
  </section>
</div>
